USE [db]
GO
/****** Object:  Table [dbo].[number]    Script Date: 2024/5/22 14:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[number](
	[numbers] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[number] ([numbers]) VALUES (N'111111')
INSERT [dbo].[number] ([numbers]) VALUES (N'222222')
INSERT [dbo].[number] ([numbers]) VALUES (N'aaaaaa')
GO
